{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>Online Ordering | Store</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
        <script src="{% static 'js/store.js' %}" async></script>
        <script type="text/javascript"src="{% static 'js/jQuery v3.2.1.js' %}"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="{% url 'app:index' %}">HOME</a></li>
                    <li><a href="{% url 'app:store' %}">STORE</a></li> 
                        <li><a href="{% url 'app:about' %}">ABOUT</a></li>
                        <li><a href="{% url 'app:donations' %}">Donate Food</a></li>
                 <li><a href="{% url 'app:membership' %}">Membership</a></li>
                 <li><a href="{% url 'app:logout' %}">Log Out</a></li>
                 <li><a>logged In as {{username}}</a></li>   
                      
                </ul>
            </nav>
            <h1 class="band-name band-name-large">Online Ordering</h1>
        </header>
        <div class="container">
            <table id="cart" class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:50%">Product</th>
                                    <th style="width:10%">Price</th>
                                    <th style="width:10%"></th>
                                </tr>
                            </thead>
                        <!------------------------------->
                        
                        {% for menu in menu %}
                        <div id="d">
                            <tbody>
                                <tr>
                                    <td data-th="Product">
                                        <div class="row">
                                            <div class="col-sm-2 hidden-xs"><img src="{{menu.itemImage}}" class="img-responsive"/></div>
                                            <div class="col-sm-10">
                                                <h4 class="nomargin">{{menu.itemName}}</h4>
                                                <p>{{menu.itemDescription}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-th="Price">{{menu.itemPrice}}</td>
                                    <td><button href="#" class="btn btn-success btn-block" value="{{menu.itemPrice}}" id='t' onclick="addition(this.value)">Add</button></td>
                                    <td><button href="#" class="btn btn-success btn-block" style="background-color: rgb(238, 69, 69);" value="{{menu.itemPrice}}" id='t' onclick="removeThis(this.value)">Remove</button></td>
                             </tr>
                            </tbody>
                        </div>
                            {% endfor %}
                            <!------------------------------->
                             <!-- checkout buttons not to loop-->
                             <form action="{% url 'app:placeorder' %}" method="POST">
                             <tfoot>
                                <tr>
                                    <td colspan="2" class="hidden-xs"></td>
                                <td class="hidden-xs text-center" id="to" name="to"><strong></strong></td>
                                    <input type="hidden" name="total" id="total"/>
                                    <td><input type="submit" class="btn btn-success btn-block" value="Checkout"></input></td></tr>
                            </tfoot> <!-- checkout buttons not to loop-->
                        </form>
                        </table>
                    </div>
                    <Script>
                        a=0
                        function addition(value){
                            a=a+parseInt(value)
                            //console.log(a)
                            window.document.getElementById('total').value=a
                            console.log(window.document.getElementById('total').value)
                            window.document.getElementById('to').innerHTML="Total Rs." + a
                        }
                        function removeThis(value){
                            if ((a !== 0) && (a >= value)){
                            a=a-parseInt(value)
                            //console.log(a)
                            window.document.getElementById('total').value=a
                            console.log(window.document.getElementById('total').value)
                            window.document.getElementById('to').innerHTML="Total Rs." + a
                            }
                        }
                    </Script>
        </body>
</html>
